<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="stars.css" rel="stylesheet">
  </head>
  <body>
    <section style="background-color: #eee;">
      <div id="app" class="container py-5">
        <div class="row justify-content-center mb-3">
          <div class="col-md-12 col-xl-10">
            <div class="card shadow-0 border rounded-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-zoom ripple rounded ripple-surface" >
                      <img :src="movieDetails.poster_path"  class="w-100">
                      <a href="#!">
                        <div class="hover-overlay">
                          <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xl-6">
                    <h5>{{movieDetails.title}} ({{year}})</h5>
                    <div class="mt-1 mb-0 text-muted small">
                      <span>{{genero}}</span>
                      <span class="text-primary"> • </span>
                      <span>{{movieDetails.release_date}}</span>
                      <span class="text-primary"> • </span>
                      <span>{{movieDetails.runtime}} min</span>
                      <span class="text-primary"> • </span>
                      <span>Popularidad: {{movieDetails.popularity}}<br /></span>
                    </div>
                    <div class="mb-2 text-muted small">
                      <span>Promedio de votos: {{movieDetails.vote_average}}</span>
                      <span class="text-primary"> • </span>
                      <span>Total de votos: {{movieDetails.vote_count}}</span>
                    </div>
                    <span>{{movieDetails.tagline}}</span>
                    <br><br>
                    <div class="d-flex flex-row" v-if="rateStatus == 'true'">
                      <button class="btn btn-success btn-sm" type="button" @click=deleteRate title="Eliminar calificación">
                        Calificado: {{movieRating}} <i class="fa-solid fa-star"></i></button>
                    </div>
                    <div class="d-flex flex-row" v-if="rateStatus == 'false'">
                      <fieldset class="rating">
                        <input type="radio" id="star5" v-model="rating" :value="10" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                        <input type="radio" id="star4half" v-model="rating" :value="9" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                        <input type="radio" id="star4" v-model="rating" :value="8" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                        <input type="radio" id="star3half" v-model="rating" :value="7" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                        <input type="radio" id="star3" v-model="rating" :value="6" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                        <input type="radio" id="star2half" v-model="rating" :value="5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                        <input type="radio" id="star2" v-model="rating" :value="4" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                        <input type="radio" id="star1half" v-model="rating" :value="3" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                        <input type="radio" id="star1" v-model="rating" :value="3" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                        <input type="radio" id="starhalf" v-model="rating" :value="1" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                      </fieldset>
                      <button class="btn btn-warning btn-sm" type="button" @click=rateMovie>Calificar</button>
                    </div>
                    <br>
                    <p>
                      {{movieDetails.overview}}
                    </p>
                  </div>
                  <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                    <div class="d-flex flex-row align-items-center mb-1">
                      <h6 class="mb-1 me-1">Titulo Original:</h4>
                    </div>
                    <p class="mb-1 me-1">{{movieDetails.original_title}}</p>
                    <br>
                    <div class="d-flex flex-row align-items-center mb-1">
                      <h6 class="mb-1 me-1">Estado:</h4>
                    </div>
                    <p class="mb-1 me-1">{{movieDetails.status}}</p>
                    <br>
                    <div class="d-flex flex-row align-items-center mb-1">
                      <h6 class="mb-1 me-1">Idioma Original:</h4>
                    </div>
                    <p class="mb-1 me-1">{{movieDetails.original_language}}</p>
                    <br>
                    <div class="d-flex flex-row align-items-center mb-1">
                      <h6 class="mb-1 me-1">Presupuesto:</h4>
                    </div>
                    <p class="mb-1 me-1">${{movieDetails.budget}}</p>
                    <br>
                    <div class="d-flex flex-row align-items-center mb-1">
                      <h6 class="mb-1 me-1">Ingresos:</h4>
                    </div>
                    <p class="mb-1 me-1" v-if="movieDetails.revenue == 0">-</p>
                    <p class="mb-1 me-1" v-if="movieDetails.revenue != 0">${{movieDetails.revenue}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/0d70ca7b60.js" crossorigin="anonymous"></script>
    <script src="app.js"></script>
  </body>
</html>
