<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vue.js</title>
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <div id="app">
      <input type="number" v-model="n1" name="">
      <input type="number" v-model="n2" name="">
      <button type="button" name="button" @click='suma'>Sumar</button>
      <h3>{{n3}}</h3>
      <hr>

      <input type="number" name="" v-model="age">
      <h1 v-if="age < 18">No pase</h1>
      <h1 v-else>Pase</h1>
      <hr>
      <ol>
        <li v-for="item in morros">
          {{item.nombre}} : <span>{{item.role}}</span>
        </li>
      </ol>
      <input type="text" name="" v-model="morroName">
      <input type="text" name="" v-model="morroRole">
      <button type="button" name="button" @click='save'>Añadir a lista</button>
    </div>
    <script type="text/javascript">
  const { createApp } = Vue;
  const vapp = createApp({
    data() {
      return {
        n1: 0,
        n2: 0,
        n3: 0,
        age: 0,
        morros: [{nombre: 'Iran', role: 'Back'}],
        morroName: 0,
        morroRole: 0,
      }
    },

    methods: {
      suma() {
        this.n3 = this.n1+ this.n2
      },
      save() {
        this.morros.push({nombre:this.morroName, role:this.morroRole})
      }
    },
  }).mount('#app');

    </script>
  </body>
</html>
